<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="paylikepaymentmethod" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Paylike</label>

                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Paylike</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <frontend_class>paylike-version version-1.4.0</frontend_class>
                </field>

                <field id="title" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Payment method title</label>
                </field>

                <field id="acceptedcards" translate="label" type="multiselect" sortOrder="5" showInDefault="1"
                       showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Payment method credit card logos</label>
                    <source_model>Esparks\Paylike\Model\Adminhtml\Source\AcceptedCards</source_model>
                </field>

                <field id="description" translate="label" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Payment method description</label>
                </field>

                <field id="popup_title" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Payment popup title</label>
                    <comment>The text shown in the popup where the customer inserts the card details</comment>
                </field>

                <field id="transaction_mode" translate="label comment" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Transaction mode</label>
                    <source_model>Esparks\Paylike\Model\Adminhtml\Source\TransactionMode</source_model>
                    <comment>In test mode, you can create a successful transaction with the card number 4100 0000 0000 0000 with any CVC and a valid expiration date.</comment>
                </field>

                <field id="test_app_key" translate="label comment" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Test mode App Key</label>
                    <comment>Get it from your Paylike dashboard</comment>
                    <backend_model>Esparks\Paylike\Model\Adminhtml\Source\TestAppKey</backend_model>
                    <depends>
                        <field id="transaction_mode">test</field>
                    </depends>
                </field>

                <field id="test_api_key" translate="label comment" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Test mode Public Key</label>
                    <comment>Get it from your Paylike dashboard</comment>
                    <backend_model>Esparks\Paylike\Model\Adminhtml\Source\TestApiKey</backend_model>
                    <depends>
                        <field id="transaction_mode">test</field>
                    </depends>
                </field>

                <field id="live_app_key" translate="label comment" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Live mode App Key</label>
                    <comment>Get it from your Paylike dashboard</comment>
                    <backend_model>Esparks\Paylike\Model\Adminhtml\Source\LiveAppKey</backend_model>
                    <depends>
                        <field id="transaction_mode">live</field>
                    </depends>
                </field>

                <field id="live_api_key" translate="label comment" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Live mode Public Key</label>
                    <comment>Get it from your Paylike dashboard</comment>
                    <backend_model>Esparks\Paylike\Model\Adminhtml\Source\LiveApiKey</backend_model>
                    <depends>
                        <field id="transaction_mode">live</field>
                    </depends>
                </field>

                <field id="capture_mode" translate="label comment" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Capture mode</label>
                    <source_model>Esparks\Paylike\Model\Adminhtml\Source\CaptureMode</source_model>
                    <comment>If you deliver your product instantly (e.g. a digital product), choose Instant mode. If not, use Delayed. The capture in delayed mode is done when an invoice is created.</comment>
                </field>

                <field id="invoice_email" translate="label" type="select" sortOrder="111" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Invoice emails</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>In Instant mode, orders are invoiced automatically. Set this option to yes if you want to send the invoice email to the customers</comment>
                </field>

                <field id="order_status" translate="label" type="select" sortOrder="112" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>New Order Status</label>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status\Processing</source_model>
                </field>


                <field id="sort_order" translate="label" type="text" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sort Order</label>
                    <frontend_class>validate-number</frontend_class>
                </field>

                <field id="enable_logs" sortOrder="161" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                  <label>Enable logs</label>
                  <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="logs_actions" translate="label" type="button" sortOrder="162" showInDefault="1" showInWebsite="1" showInStore="1">
                  <label>Logs actions</label>
                  <frontend_model>Esparks\Paylike\Model\Adminhtml\Source\LogsActions</frontend_model>
                </field>

            </group>
        </section>
    </system>
</config>
